<nav class="navbar">
  <div class="container">
    <a class="nav-inline bg-primary" href="/">US Electon 2016</a>
    <ul class="nav nav-inline;">
      <li class="nav-item"><a class="nav-link" href="/about">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
      <%# <li class="nav-item"><a class="nav-link" href="/candidates">Candidates</a></li>%>
      <%# <li class="nav-item"><a class="nav-link" href="/candiates/clinton">Clinton</a></li>%>
      <%# <li class="nav-item"><a class="nav-link" href="/candidates/trump">Trump</a></li>%>
      <%# <li class="nav-item"><a class="nav-link" href="/headtohead">Head to Head</a></li>%>
    </ul>
  </div>
</nav>
