@import url('https://fonts.googleapis.com/css?family=Poiret+One');

body {
	font-family:'Poiret One', cursive;
	font-weight: 300;
	background-image: -webkit-linear-gradient(top, #edacef, #f7f26f 100%);
	background-image: -moz-linear-gradient(top, ##edacef, #f7f26f 100%);
	background-image: -o-linear-gradient(top, ##edacef, #f7f26f 100%);
	background-image: linear-gradient(to bottom, ##edacef, #f7f26f 100%);
  max-width: 960px;
  margin: 0 auto;
}

ul {
  list-style: none;
  /*background-color: white;*/
}

/*secton {
  background-color: transparent;
}*/

nav ul li {
  font-family:'Poiret One', cursive";
  display: inline-block;
  min-width: 100px;
  text-align: center;
}

a {
  color: green;
}

nav ul li a {
  display: block;
  text-decoration: none;
  padding: 10px;
  color: grey;
}

nav ul li a.active {
  background-color: white;
  color: grey;
  /*background-color: #fcfcfc;*/
}

/*ul {
	list-style: none;
	margin: 0;
	padding: 0;
}*/

header {
	color: white;
	text-align: center;
	/*border: 1px solid #fff;*/
	width: 75%;
	margin: 25px auto;
}

header h1 {
	/*font-family: "";*/
	font-weight: normal;
	font-size: 80px;
}

header h4 {
	font-weight: 300;
}

main {
  background-color: transparent;
	/*background: #fff;*/
	min-height: 600px;
	width: 75%;
	margin: 0 auto;
}


nav ul li a {
  color: white;
}

nav.tabs {
    max-width: 75%;
    margin: 0 auto;
}
nav.tabs a {
    display: inline-block;
    background: rgba(255,255,255,0.7);
    color: black;
    padding: 10px 20px;
    margin-right: 1px;
}


/*li {
	height: 50px;
	border-bottom: 1px solid rgb(230, 230, 230);
	padding-top: 25px;
	padding-left: 15px;
}*/

li:hover {
  background-color: pink;
	/*background-color: rgb(230, 230, 230);*/
  color: pink;
  font-style: pink;
}


#cake img {
  height: 100px;
  width:100px;
}

.btn {
	border: none;
	padding: 6px 15px;
	color: white;
	background: none;
	outline: none;
}

.btn-add {
	background-color: #315481;
	width: 11%;
}

.btn-delete {
  font-size: 12px;
	float: left;
	margin-right: 5px;
	border-radius: 50%;
	border: 1px solid #F04A2A;
	color: #F04A2A;
	width: 100px;
	height: 100px;
	padding: 0 0 3px 0px;
}

.btn-edit {
  font-size: 12px;
	float: left;
	margin-right: 5px;
	border-radius: 50%;
	border: 1px solid #F04A2A;
	color: #F04A2A;
	width: 100px;
	height: 100px;
	/*padding: 0 0 3px 0px;*/
}
