<h1>New</h1>

<form action="/quotes" method="post">
  <div class="form-group">
    <label for="quote_title">Title</label>
    <input type="text" name="quote[title]" id="quote_title" class="form-control">
  </div>

  <div class="form-group">
    <label for="quote_author">Author</label>
    <input type="text" name="quote[author]" id="quote_author" class="form-control">
  </div>

  <button class="btn btn-primary">Create</button>
</form>
