<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tindersaurus</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/dinosaurs">Dinosaurs</a></li>
        <li><a href="/dinosaurs/new">Add a Dinosaur</a></li>
      </ul>
    </nav>
    <%- body %>
  </body>
</html>
