<!DOCTYPE html>
<html>
<head>
  <title>Quotes</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <%- include ./application/_header %>
  <main>
    <%- body %>
  </main>
  <%- include ./partials/_footer %>
</body>
</html>
