ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  min-width: 100px;
  text-align: center;
}

nav ul li a {
  display: block;
  text-decoration: none;
  padding: 10px;
}

nav ul li a.active {
  background-color: #fcfcfc;
}