<h1>New Dinosaur</h1>

<form action="/dinosaurs" method="post">
  <label for="dinosaur_content">Content</label>
  <input type="text" name="dinosaur[content]" id="dinosaur_content">

  <label for="dinosaur_cite">Citation</label>
  <input type="text" name="dinosaur[cite]" id="dinosaur_cite">

  <button>Submit</button>
</form>
