body {
  color: white;
  background-color: black;
  font-family: "Museo";
  font-size: 20px;
  text-shadow: -0.06em 0 red, 0.06em 0 cyan;
}

p {
  float: left
}

.scoreboard {
  width: 200px;
  float:right;
}

.scoreboard2 {
  width: 200px;
  float:left;
}

.playgame {
  background-color: white;
  width: 800px;
}


button {
  height: 40px;
  width: 100px;

}

  /*display: inline-block;
  background-color: black;
  color: white;
  font-family: "Museo";
  font-size: 40px;
  border-radius: 10px;
  border: solid 1px;
  box-sizing: border-box;
  width: 175px;
  height: 100px;
  vertical-align: top;
  line-height: 100px;
  /*text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;*/
  /*text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85, -20px -20px 40px #ffae34, 20px -40px 50px #ec760c, -20px -60px 60px #cd4606, 0 -80px 70px #973716, 10px -90px 80px #451b0e;*/
  /*text-shadow: -0.06em 0 red, 0.06em 0 cyan;
  margin-right: -4px;*/*/
