<h1><%= @header %></h1>

<form action="/translation" method="POST">
  <input type="text" class="english" placeholder="Translate this" name="words"></input>
  <button input type="submit">Submit</button>
</form>
